@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Didact+Gothic|Open+Sans|Ubuntu:300');
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgb(255, 237, 178);
	width: 100vw;
}

body {
	margin: 0px;
	background-color: bisque;
	font-family: 'Anonymous Pro', 'Open Sans', 'Ubuntu', 'Didact Gothic', sans-serif;
	font-size: 0.6rem;
}

main {
	padding-top: 12vw;
	transition: .3s;
}

article {
	padding-top: 12vw;
	transition: .3s;
}

li {
	list-style-type: none;
	text-align: center;
	margin-left: 5;
}

a {
	text-decoration: none;
}

a:link {
	color: #d08102;
}

a:visited {
	color: #4a3f16;
}

a:hover {
	color: #f4cd90;
}

h1 {
	text-align: center
}

h2 {
	text-align: center
}

.hNavUl {
	margin: 1vw;
	padding-left: 0;
}

.hNavIl {
	display: inline-block;
	padding: 1vw;
	margin: 0.5vw;
	border-left-style: solid;
	border-left-width: thin;
	border-left-color: rgb(255, 218, 96);
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: rgb(255, 218, 96);
}

.navInline {
	display: inline-block;
	text-align: center;
	width: 48%;
}

.error {
	color: red;
}

@media (min-width:375px) {
	main {
		padding-top: 11vw
	}
	article {
		padding-top: 11vw
	}
	body {
		font-size: 0.7rem
	}
}

@media (min-width:425px) {
	body {
		font-size: 0.7rem
	}
	main {
		padding-top: 10vw
	}
	article {
		padding-top: 10vw
	}
}

@media (min-width: 768px) {
	body {
		font-size: 0.8rem;
	}
	main {
		padding-top: 5vw
	}
	article {
		padding-top: 5vw
	}
}

@media (min-width: 1024px) {
	body {
		font-size: 0.9rem
	}
	main {
		padding: 0 15vw;
		padding-top: 5vw
	}
	article {
		padding-top: 5vw
	}
}

@media (min-width: 1366px) {
	body {
		font-size: 1rem;
	}
	main {
		padding: 0 20vw;
		padding-top: 3vw
	}
	article {
		padding-top: 3vw
	}
	.hNavIl {
		padding: 0.5vw;
		margin: 0.2vw;
	}
}
